@import "tailwindcss";

@theme {
  /* Colors */
  --color-brand-red: hsl(14, 86%, 42%);
  --color-brand-green: hsl(159, 69%, 38%);

  --color-rose-50: hsl(20, 50%, 98%);
  --color-rose-100: hsl(13, 31%, 94%);
  --color-rose-300: hsl(14, 25%, 72%);
  --color-rose-400: hsl(7, 20%, 60%);
  --color-rose-500: hsl(12, 20%, 44%);
  --color-rose-900: hsl(14, 65%, 9%);

  /* Typography */
  --font-red-hat: "Red Hat Text", ui-sans-serif, system-ui;
  --text-base: 16px; /* Body copy for product names */

  /* Breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 700; /* Supports the range required: 400, 600, 700 */
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 400 700;
  font-style: italic;
}
